[submodule "vendor/plugins/cells"]
	path = vendor/plugins/cells
	url = git://github.com/apotonick/cells.git
[submodule "vendor/plugins/apotomo"]
	path = vendor/plugins/apotomo
	url = git://github.com/apotonick/apotomo.git
[submodule "vendor/plugins/edit_frame_widgets"]
	path = vendor/plugins/edit_frame_widgets
	url = git://github.com/paulhagstrom/edit_frame_widgets.git
