<table>
	<tr>
	<% @filters_available.each do |filtkey,filt| 
		filter_name = (@current_filter == filtkey) ?( '>>' + filt[:name] + '<<') : filt[:name] %>
		<td><%= link_to_event(filter_name, {:type => :filterClick, :new_filter => filtkey}) %></td>
	<% end %>
	</tr>
</table>
<%= link_to_event('New record', :type => :newClick) %>
<%= javascript_tag js_emit %>
