<h1>Books</h1>

<%= @content %>

<p style="width:100%;text-align:center;padding:5px;background-color:yellow;">Click
	here to <%= link_to('repopulate the database tables', :action => 'populate') %> </p>