<table width="100%">
	<tr>
		<td>
			<table>
				<tr>
				<% @filters.each do |filtkey,filt| 
					filter_name = (@filter == filtkey) ? 
					( '<span style="background-color:yellow;">&nbsp;' + filt[:name] + '&nbsp;</span>') :
					'&nbsp;' + filt[:name] + '&nbsp;' %>
					<td><%= link_to_event(filter_name, {:type => :filterClick, :new_filter => filtkey}) %></td>
				<% end %>
				</tr>
			</table>
		<td>
		<td>
			<%= link_to_event('New record', :type => :newClick) %>
		</td>
	</tr>
</table>
<%= javascript_tag js_emit %>
