<table>
	<tr>
		<td>
			<%= link_to_event('Dismiss', {:type => :dismissPanel}) %>
		</td>
	<% @filters_available.each do |filtkey,filt| 
		filter_name = (@current_filter == filtkey) ?( '>>' + filt[:name] + '<<') : filt[:name] %>
		<td><%= link_to_event(filter_name, {:type => :filterClick, :new_filter => filtkey}) %></td>
	<% end %>
	</tr>
</table>
<%= javascript_tag js_emit %>
